.button-container {
  max-height: 41px;

  padding: 10px 42px;
  box-sizing: border-box;

  background: #0246b5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  outline: none;

  font-family: 'LineTo Akkurat Light', sans-serif;
  font-size: 16px;
  line-height: normal;
  text-align: right;

  color: #FFFFFF;

  user-select: none;
  cursor: pointer;

  transition: 100ms background linear;

  &:hover {
    background: #023695;
  }
}