.explorerblockcard-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 77px;
  padding: 18px;
  box-sizing: border-box;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .explorerblockcard-header-loading {
    height: 13px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
  }

  .explorerblockcard-header-top,
  .explorerblockcard-header-bottom {
    span {
      font-family: 'Lineto Akkuratmono Regular', sans-serif;
      font-size: 16px;
      line-height: normal;
    }
  }
  .explorerblockcard-header-top {
    display: flex;
    justify-content: space-between;
    
    span {
      color: #000000;
    }
  }

  .explorerblockcard-header-bottom {
    width: 100%;
  }
}

.explorerblockcard-body {
  line-height: 0;
  padding: 18px 8px 9px 18px;
  box-sizing: border-box;
  width: 100%;
  height: 278px;
  list-style: none;
  margin: 0;
}

.explorerblockcard-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 31px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Lineto Akkurat Light', sans-serif;
  font-size: 14px;
  line-height: normal;
  padding-left: 16px;
  box-sizing: border-box;
  color: #000000;
  
  .explorerblockcard-footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 32px;
    background: white;
  }
}