.nav-container {
  display: flex;
  flex-direction: column;

  width: 96px;
  min-width: 96px;
  height: 100vh;
  max-height: 100vh;

  background: rgb(36, 106, 220);
  box-shadow: 5px 0px 50px rgba(0, 0, 0, 0.1);

  .nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 96px;

    height: 96px;
    min-height: 96px;
    width: 96px;

    opacity: 1;
  }
  .nav-links {
    width: 96px;
    height: 100vh;
  }
  .nav-footer {
    height: 192px;
    width: 96px;
    flex-basis: 192px;
  }
  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 96px;
    opacity: 1;

    height: 96px;
    width: 96px;

    cursor: pointer;
    
    background: transparent;
    transition: 200ms background ease-in-out;

    &:hover {
      background: rgb(20, 89, 202);
    }

    &.active,
    &.active:hover {
      cursor: default;
      background: #0246b5;
    }

    span {
      font-family: 'Lineto Akkurat Light';
      font-size: 14px;
      line-height: normal;
      text-align: center;
      margin-top: 10px;
      color: #FFFFFF;

      user-select: none;
    }
  }

}