.explorertransactionblock-container {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  max-width: 16px;
  max-height: 16px;
  margin: 0 9px 9px 0;

  &:hover {
    z-index: 1000;
  }

  .explorertransactionblock-tooltip {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: -1;
    padding: 16px 14px;
    width: 253px;
    height: 66px;
    max-height: none;
    max-width: none;
  
    transform: translate(40px, -32px);
    background: white;
    transform: translate(16px, -32px);
    animation: explorertransactionblock-tooltip-appear 100ms  linear forwards;

    @keyframes explorertransactionblock-tooltip-appear {
      from { transform: translate(16px, -32px); opacity: 0; }
      to { transform: translate(40px, -32px); opacity: 1; }
    }

    &::before {
      content: '';
      position: absolute;
      height: 16px;
      width: 16px;
      background: white;
      transform: translate(-20px, 0) rotate(45deg);
    }

    
    .explorertransactionblock-tooltip-field,
    .explorertransactionblock-tooltip-value {
      font-family: 'Lineto Akkuratmono Regular';
      font-size: 12px;
      line-height: normal;

    }

    .explorertransactionblock-tooltip-field {
      color: #666666;
    }

    .explorertransactionblock-tooltip-value {
      color: #584E9A;
    }

    .explorertransactionblock-tooltip-top,
    .explorertransactionblock-tooltip-bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    
  }

  .explorertransactionblock-block {
    width: 16px;
    height: 16px;
    margin: 0;
    background: rgba(255, 255, 255, 0.25);

    &.active {
      background: rgba(255, 255, 255, 0.70);
    }

    &:hover {
      background: rgba(255, 255, 255, 1);
    }
  } 
}